.language_picker {
  &__dropdown {
    button {
      font-size: 0.8rem;
      opacity: 0.4;

      &:hover {
        background-color: transparent;
        opacity: 1;
      }
    }

    .dropdown-menu {
      display: flex;
      flex-direction: column;
      min-width: 1rem;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}
