.container_app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header_form {
  position: sticky;
  top: 0;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(178, 202, 110);
}

.header_bg {
  background-color: rgb(178, 202, 110);
  opacity: 0.8;
}
.header__lang {
}

.header__lang_fixed {
}

.header__nav_lang {
}

.selected {
}

.dropdown {
}

.header__lang_transparent {
}
