.container_app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header_form {
  position: sticky;
  top: 0;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(178, 202, 110);
}

.header_bg {
  background-color: rgb(178, 202, 110);
  opacity: 0.8;
}
.header__lang {
  position: relative;
}

.header__lang_fixed {
}

.header__nav_lang {
  width: 20px;
  height: 20px;
  padding: 2px;
  color: blue;
}

.selected {
  width: 10px;
  background-color: floralwhite;
  color: blueviolet;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 10%;
  padding: 5px;
}

.header__lang_transparent {
}
