.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
  transition: all 0.3s;
}
.login__btn:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.login div {
  margin-top: 7px;
}
.login_link {
  margin: 0px 5px;
  transition: all 0.3s;
}
.login_link:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
