:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header-form {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(205, 231, 133);
}

.active {
  color: #3681e4;
}

.container-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main-title {
  margin: '10px';
  text-align: center;
}

.grafic-page {
  display: flex;
  justify-content: center;
}
